### Pandas Tutorial 
- Pandas is an open source BSD-licensed Library providing high performance ,easy to use data structure and data anysis tools for the python programming language

### Agenda 
- what is data Frame??
- what is Data series?
- Difference operations in pandas

In [2]:
### First step is to import libraries
import pandas as pd
import numpy as np

In [3]:
## Plaing with dataframe 
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=['columns1','columns2','columns3','columns4'])

In [4]:
df.head()

      columns1  columns2  columns3  columns4
Row1         0         1         2         3
Row2         4         5         6         7
Row3         8         9        10        11
Row4        12        13        14        15
Row5        16        17        18        19

In [5]:
df.to_csv('Test.csv')

In [6]:
### Asssing the elements
## 1 .loc- it is for row indexs 2 .iloc-it is for row/columns indexes
df.loc['Row1']

columns1    0
columns2    1
columns3    2
columns4    3
Name: Row1, dtype: int32

In [8]:
type(df.loc['Row1']) ## This is series datatype

pandas.core.series.Series

In [9]:
## for dataframe type
df.iloc[:,:]

      columns1  columns2  columns3  columns4
Row1         0         1         2         3
Row2         4         5         6         7
Row3         8         9        10        11
Row4        12        13        14        15
Row5        16        17        18        19

In [11]:
type(df.iloc[:,:])

pandas.core.frame.DataFrame

In [14]:
df.iloc[0:2,0:3]

      columns1  columns2  columns3
Row1         0         1         2
Row2         4         5         6

In [15]:
### convert Dataframes into array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [16]:
df.iloc[:,1:].values.shape

(5, 3)

In [18]:
df.isnull().sum()

columns1    0
columns2    0
columns3    0
columns4    0
dtype: int64